.ratingContent {
    margin-top: 0;
}

.ratingItem {
    background-color: greenyellow;
}

.ratingContent img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ratingTable {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(50px, 1fr));
    grid-template-rows: 50px auto;
    border: 1px solid red;
    grid-template-areas: "empty header" "content values";
}

.ratingTable .header {
    grid-area: header;
    border: 1px solid green;
}

.ratingTable .content {
    grid-area: content;
    border: 1px solid black;
}

.ratingTable .content>span {
    display: block;
    border: 1px solid black;
}

.ratingTable .empty {
    grid-area: empty;
    border: 1px solid black;
}

.ratingTable .values {
    grid-area: values;
    border: 1px solid black;
}

.ratingTable .header>span {
    height: 48px;
    display: inline-block;
    border: 1px solid green;
}